%div.row
  %div.col-sm-2
    %img.img-responsive.img-circle.img-profile{ src: "/genome/pic/#{@genome.id}.png"}
  %div.col-sm-10
    %h2 #{@genome.organism}
    %ul
      %li #{@genome.feature_count} Features
      %li #{Scaffold.where(genome: @genome).count} Scaffolds
      %li #{'%.2g' % (Scaffold.where(genome: @genome).map{ |x| x.sequence.size }.inject(:+)/1e6)} Mb
      %li
        NCBI Assembly:
        %a{ href: "http://www.ncbi.nlm.nih.gov/assembly/#{@genome.assembly_id}"}
          #{@genome.assembly_id}

%hr

%div.row
  %div.col-md-12
    %h3 Protein Coding Genes

%div.row
  %div.col-md-12
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th
            Start - Stop
          %th
            Gene Product
      %tbody
        - @features.each do |feature|
          %tr
            %td
              %code
                #{feature[:start]} - #{feature[:stop]}
            %td
              %a{href: "/feature/#{feature[:id]}"}
                #{feature[:info].match(/product=(.*);/)[1] rescue 'NA'}


%div.row
  %div.span-lg-12
    %ul.pagination
      %li
        %a
          &laquo;
      - (@page..@page+20).each do |page_no|
        - if @page == page_no
          %li.active
            %a.active #{page_no}
        - else
          %li
            %a{ href: "?page=#{page_no}" } #{page_no}
      %li
        %a
          &raquo;
