%div.row
  %div.col-lg-12
    %h2 Database Statistics
    %ul
      %li #{'%2d' % Genome.count} Genomes
      %li #{'%.2g' % Scaffold.count} Scaffolds
      %li #{'%.2g' % Feature.count} Features

%hr

%div.row
  %div.col-lg-12
    %h2 Genomes
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            \#
          %th
            Name
          %th
            Features
      %tbody
        - @genomes.each do |g|
          %tr
            %td
              #{g[:id]}
            %td
              %a{href: "/genome/#{g[:id]}"}
                #{g[:organism]}
            %td
              #{g[:feature_count]} features

%div.row
  %div.span-lg-12
    %ul.pagination
      %li
        %a
          &laquo;
      - (1..@total_pages).each do |page_no|
        - if @page == page_no
          %li.active
            %a.active #{page_no}
        - else
          %li
            %a{ href: "/?page=#{page_no}" } #{page_no}
      %li
        %a
          &raquo;
