%header{class: 'hero-unit'}
  %div.inner
    %h2 Database Statistics
    %ul
      %li #{'%2d' % Genome.count} Genomes
      %li #{'%.2g' % Scaffold.count} Scaffolds
      %li #{'%.2g' % Feature.count} Features

  %div.inner
    %h2 Genomes
    %ol
      - @genomes.each do |g|
        %li="NCBI Assembly ID: #{g.assembly_id} with #{g.feature_count} features."
