%h2.page-header Welcome

%ul
  %li Total Genomes: #{Genome.count}
  %li Features: #{Feature.count}
  %li Scaffolds: #{Scaffold.count}
  - last = Genome.order(created_at: :desc).first
  - unless last.nil?
    %li
      Latest Genome:
      %em
        = link_to "#{last.organism}", genome_path(last)
      added #{time_ago_in_words(last.created_at)} ago.

= javascript_include_tag "//www.google.com/jsapi", "chartkick" 

%div.row
  %div.col-md-12
    %h2 Feature Types
    = pie_chart Feature.group(:feature_type).count

// histogram... slow...
// = column_chart Hash[ActiveRecord::Base.connection.execute('select width_bucket(char_length(sequence), 1000, 1000000000, 10000), count(*) from scaffolds group by 1 order by 1').to_a.map { |x| [x['width_bucket'], x['count']] }]
