%h2.page-header Welcome

%ul
  %li Total Genomes: #{Genome.count}
  %li Features: #{Feature.count}
  %li Scaffolds: #{Scaffold.count}
  - last = Genome.order(:created_at).first
  %li Latest Genome: <i>#{last.organism}</i> added #{time_ago_in_words(last.created_at)} ago.
