
%div.row
  %div.col-lg-12
    %h2 Feature #{@feature.id}
    %ul.list-group
      %li.list-group-item
        Organism:
        %code
          %a{href: "/genome/#{@feature.genome_id}"}
            #{@feature.genome.organism}
      %li.list-group-item
        Type:
        %code #{@feature.type}
      %li.list-group-item
        Coords:
        %code #{@feature.start} - #{@feature.stop}
      %li.list-group-item
        Frame:
        %code #{@feature.frame || 'NA'}
      %li.list-group-item
        Strand:
        %code #{@feature.strand || 'NA'}
      %li.list-group-item
        Score:
        %code #{@feature.score || 'NA' }
      %li.list-group-item
        Info:
        %pre #{@feature.info}

- if @feature.type == 'CDS'
  %div.row
    %div.col-lg-12
      %h3 Similar Proteins
      %div
        %table.table.table-bordered.table-striped.table-compressed
          %thead
            %tr
              %th Organism
              %th Product
          %tbody
            - @feature.similar.each do |sim|
              %tr
                %td
                  %a{href: "/genome/#{sim.genome.id}" }
                    #{sim.genome.organism}
                %td
                  %a{href: "/feature/#{sim.id}" }
                    #{sim.product}


%hr

%div.row
  %div.col-lg-12
    %h3 Sequence

%div.row
  %div.col-lg-12
    %pre
      #{@feature.sequence}

- if @feature.type == 'CDS'
  %div.row
    %div.col-lg-12
      %h3 Translated Amino Acid Sequence
      %pre
        #{@feature.protein_sequence}
