%h2 Feature #{@feature.id}
%ul
  %li
    Organism:
    %code
      %a{href: "/genome/#{@feature.genome_id}"}
        #{@feature.genome.organism}
  %li
    Type:
    %code #{@feature.type}
  %li
    Coords:
    %code #{@feature.start} - #{@feature.stop}
  %li
    Frame:
    %code #{@feature.frame || 'NA'}
  %li
    Strand:
    %code #{@feature.strand || 'NA'}
  %li
    Score:
    %code #{@feature.score}
  %li
    Info:
    %code #{@feature.info}

%h3 Sequence

%pre
  #{@feature.sequence}

- if @feature.type == 'CDS'
  %h3 Translate Amino Acid Sequence
  %pre
    #{@feature.protein_sequence}


- if @feature.type == 'CDS'
  %h3 Similar Proteins
  %ul
    - @feature.similar.each do |sim|
      %li
        #{sim.genome.organism} - 
        %a{href: "/feature/#{sim.id}" }
          #{sim.product}
