%ol.breadcrumb
  %li
    %a{ href: '/' } Home
  %li.active
    Genomes

%div.row
  %div.col-lg-12
    %h2.page-header
      Genomes
      %small
        = link_to 'Import', new_genome_path, class: 'btn btn-sm btn-primary'

%div.row
  %div.col-lg-12
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            \#
          %th
            Name
          %th
            Updated
      %tbody
        - @genomes.each do |g|
          %tr
            %td
              #{g[:id]}
            %td
              = link_to g.organism, genome_path(g)
              - if g[:stats].nil? or g[:stats]['total_proteins'].to_i.zero?
                %div.badge unannotated
            %td
              = "#{time_ago_in_words(g.updated_at)} ago"

= will_paginate @genomes
