%ol.breadcrumb
  %li
    %a{ href: '/' } Home
  %li
    %a{ href: '/genomes' } Genomes
  %li.active
    #{@genome.organism}

%div.row
  %div.col-xs-2
    = image_tag @genome.avatar.url, class: 'img-circle img-avatar'
  %div.col-sm-10
    %h2 #{@genome.organism}
    %ul
      %li
        - unless @genome.in_graph?
          Not in social graph
        - else
          %a{ href: "/genome_relationships?genome_id=#{@genome.id}" } View Graph
      %li
        NCBI Assembly:
        %a{ href: "http://www.ncbi.nlm.nih.gov/assembly/#{@genome.assembly_id}"}
          #{@genome.assembly_id}
      - unless @genome[:ncbi_metadata].nil?
        %li Submitted by: #{@genome['ncbi_metadata']['submitterorganization'] rescue 'Unknown'}
      - unless @genome[:stats].nil?
        %li #{@genome[:stats]['total_scaffolds']} Scaffolds (#{'%.2f' % (@genome[:stats]['genome_size'].to_f/1e6)} Mb)
        %li
          #{number_with_delimiter @genome[:stats]['total_features']} Features /
          #{number_with_delimiter @genome[:stats]['total_proteins']} Proteins
          (#{number_with_delimiter @genome[:stats]['shared_proteins']} Shared)
      %li Last Updated: #{time_ago_in_words(@genome.updated_at)} ago
      %li Created: #{time_ago_in_words(@genome.created_at)} ago

%hr

%div.row
  %div.col-md-12
    %h3 Protein Coding Genes
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th
            Start - Stop
          %th
            Gene Product
          %th Related Features
      %tbody
        - @features.each do |feature|
          %tr
            %td
              %code
                #{feature[:start]} - #{feature[:stop]}
            %td
              = link_to feature.product, genome_feature_path(@genome, feature)
              - if feature.weird?
                %span.label.label-warning weird
            %td
              = feature.protein_relationships.count # ['related_features'] rescue 'Unknown'
  %div.col-md-12
    = will_paginate @features, param_name: 'features_page'
