%div.row
  %div.col-lg-12
    %h2.page-header Feature #{@feature.id}

%div.row
  %div.col-lg-12
    %ul.list-group
      %li.list-group-item
        Organism:
        %code=link_to @feature.genome.organism, genome_path(@feature.genome)
      %li.list-group-item
        Type:
        %code #{@feature.feature_type}
      %li.list-group-item
        Coords:
        %code #{@feature.start} - #{@feature.stop}
      %li.list-group-item
        Frame:
        %code #{@feature.frame || 'NA'}
      %li.list-group-item
        Strand:
        %code #{@feature.strand || 'NA'}
      %li.list-group-item
        Score:
        %code #{@feature.score || 'NA' }
      %li.list-group-item
        Info:
        %pre #{@feature.info}


- unless @related_features.compact.size == 0
  %div.row
    %div.col-lg-12
      %h3 Similar Proteins
      %table.table.table-bordered.table-striped.table-condensed
        %thead
          %tr
            %th Gene Product
        %tbody
          - @related_features.each do |related_feature|
            %tr
              %td=link_to related_feature.product, genome_feature_path(related_feature.genome_id, related_feature.id)

- # amino acid sequences

- if @feature.feature_type == 'CDS'
  %div.row
    %div.col-lg-12
      %h3 Translated Amino Acid Sequence
      %pre
        #{@feature.protein_sequence}

- # nucleotide sequence

%div.row
  %div.col-lg-12
    %h3 Nucleotide Sequence
%div.row
  %div.col-lg-12
    %pre
      #{@feature.sequence}
