!!! html
%head
  %title Genome Explorer
  = stylesheet_link_tag 'application', media: 'all', :'data-turbolinks-track' => true
  = javascript_include_tag 'application', :'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %div.container

    %nav.navbar.navbar-fixed-top
      %div.container-fluid
        %div.navbar-header
          %a.navbar-brand{href: '/'}
            %span.logo 🔬 
            %span.name Genome Explorer
        %div.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Genomes', genomes_path
            %li
              = link_to raw("Jobs <span class='badge alert-info'>#{count_or_empty_string(Delayed::Job)}</span>"), delayed_jobs_path
            %li
              = link_to 'Graph', genome_relationships_path

          = form_tag genomes_path, method: 'get', class: 'navbar-form navbar-right' do
            %div.form-group
              = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search genomes'
            = submit_tag 'Search', name: nil, class: 'btn btn-default'

    %div
      = yield
